.banner-logo{
    height: 85vh;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(159, 159, 159, 0.722), rgba(159, 159, 159, 0.722)), url('../../assets/images/bg-img-logo.png');
    background-size: 100%;
}
.banner-logo .img{
    width: 20%;
    height: auto;
}
.banner-logo .separator{
    height:25px;
    width: 100%;
    background-color: #666666;
    align-self: flex-end;
}
.banner-logo .separato2{
    height:15px;
    width: 100%;
    background-color: #222222;
    align-self: flex-start;
}